{% extends "layout.html" %}

{% block content %}
<form method="POST">
    <label for="group_name">Group Name:</label>
    <input type="text" id="group_name" name="group_name" required>

    <label for="members">Select Members:</label>
    <select id="members" name="members[]" multiple required class="select2-multiple">
        {% for user in all_users %}
            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
        {% endfor %}
    </select>

    <button type="submit">Create Group</button>
</form>

<!-- Include the Select2 library -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
$(document).ready(function() {
    $('.select2-multiple').select2({
        placeholder: "Select members",
        allowClear: true
    });
});
</script>
{% endblock %}
