{% extends "layout.html" %}

{% block content %}
<form method="POST">
    <label for="group_name">Group Name:</label>
    <input type="text" id="group_name" name="group_name" required>

    <fieldset>
        <legend>Select Members:</legend>
        {% for user in all_users %}
        <div>
            <input type="checkbox" id="member_{{ user.id }}" name="members[]" value="{{ user.id }}">
            <label for="member_{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</label>
        </div>
        {% endfor %}
    </fieldset>

    <button type="submit">Create Group</button>
</form>
{% endblock %}
