{% extends 'layout.html' %}
{% block content %}
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Financial Dashboard</h1>
    <h2>Debts</h2>
    <ul>
        {% for debtor in debts %}
            <li>{{ debtor.first_name }} {{ debtor.last_name }} owes a total of €{{ debtor.total_debt }}</li>
        {% endfor %}
    </ul>
    <h2>Credits</h2>
    <ul>
        {% for creditor in credits %}
            <li>{{ creditor.first_name }} {{ creditor.last_name }} is owed a total of €{{ creditor.total_credit }}</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
