{% extends 'layout.html' %}
{% block content %}
<head>
    <title>Dashboard</title>
</head>
<body>
    <br>
    <h3>ClearSkies Overview: Your Financial Dashboard</h3>

    <!-- Group Selection Dropdown -->
    <div class="container mt-5">
        <form action="{{ url_for('dashboard') }}" method="get">
            <div class="form-group">
                <label for="groupSelect">Select a Group:</label>
                <select class="form-control" id="groupSelect" name="group_id" onchange="this.form.submit()">
                    <option value="">All</option>
                    {% for group in all_groups %}
                        <option value="{{ group.id }}" {% if group.id == group_id %}selected{% endif %}>{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>

    <!-- Display Data -->
    <div class="container mt-3">
        <h5 class="mb-3">Transactions</h5>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Payer Name</th>
                    <th>Payee Name</th>
                    <th>Item Name</th>
                    <th>Amount ($)</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.payer.first_name }} {{ transaction.payer.last_name }}</td>
                    <td>{{ transaction.debtor.first_name }} {{ transaction.debtor_last_name }}</td>
                    <td>{{ transaction.item_name }}</td>
                    <td>${{ transaction.amount | abs | round(2) }}</td>
                    <td>{{ transaction.time_date.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5">No transactions to display.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}