{% extends 'layout.html' %}

{% block content %}
<html>
<head>
    <title>Your Personal Dashboard</title>
</head>
<body>
    <br>
    <h3>Your Personal Finances Overview</h3>
    <div>
        <h5>Your Net Debts</h5>
        <ul>
            <li>Total Incoming Payments Due: €{{ monetary_values.total_credit | abs }}</li>
            <li>Total Expenses Owed: €{{ monetary_values.total_debit | abs }}</li>
            <li style="color: {% if monetary_values.net_balance >= 0 %}green{% else %}red{% endif %}">
                Net Balance: €{{ monetary_values.net_balance | abs | round(2) }}
            </li>
        </ul>
        <div class="container mt-3">
            <form action="{{ url_for('settle_up') }}" method="post">
                <button type="submit" class="btn btn-success">Settle Up Your Debts!</button>
            </form>
        </div>
    </div>
    <br>
    <hr>
    <br>
        <h5 class="mb-4">A Short History of Your Transactions</h5>
            <table id="transactionsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Payer Name</th>
                    <th>Payee Name</th>
                    <th>Item Name</th>
                    <th>Amount ($)</th>
                    <th>Date</th>
                </tr>
            </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.payer.first_name }} {{ transaction.payer.last_name }}</td>
                    <td>{{ transaction.debtor.first_name }} {{ transaction.debtor.last_name }}</td>
                    <td>{{ transaction.item_name }}</td>
                    <td style="color: {{ 'green' if transaction.amount >= 0 else 'red' }}">€{{ transaction.amount |  abs | round(2) }}</td>
                    <td>{{ transaction.time_date.strftime('%Y-%m-%d %H:%M') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function() {
        var table = $('#transactionsTable').DataTable({
            "order": [[4, "desc"]], // Default ordering by date, descending
            "initComplete": function () {
                this.api().columns().every(function () {
                    var column = this;
                    var input = $('<input type="text" placeholder="Search '+column.header().textContent+'" />')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? val : '', true, false).draw();
                        });

                    input.on('click', function(e) {
                        e.stopPropagation();
                    });
                });
            }
        });
    });
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js">
    
</html>
{% endblock %}
