{% extends 'layout.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Monetary Value</title>
</head>
<body>
    <h1>Update Monetary Value</h1>
    <form action="{{ url_for('deposit') }}" method="post">
        <label for="amount">Amount to Add:</label><br>
        <input type="text" id="amount" name="amount"><br><br>
        <input type="submit" value="Update">
    </form>
</body>
{% endblock %}
