{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to Friendly Debt Settlement</h1>
    <p>Welcome, {{ session.first_name }}! Ready to manage your debts?</p>
    <body>
        Change this landing page, it doesn't make sense to have just add debts, i suggest it has a range of different parts from elsehwere, so it acts like a sort of hub, with an add debt + settle up + overview set of widgets
        <br>
        <br>
        ...
    </body>
    
    <form method="POST">
        <label for="item_name">Item Name:</label>
        <input type="text" id="item_name" name="item_name" required>

        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required step="0.01">

        <button type="submit" class="btn btn-primary">Add Debt</button>
    </form>
</div>
{% endblock %}
