{% extends "layout.html" %}

{% block content %}
<style>
    .contained {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin: 10px 0;
    }
    .section {
        flex: 1;
        min-width: 200px;
        max-width: 400px;
        border: 1px solid #ccc;
        padding: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        margin: 10px;
    }
    .container {
        width: 100%;
        padding: 20px;
    }
    .debt-entry {
        margin-bottom: 15px;
        padding-left: 30px;
    }
    .btn-link {
        display: inline-block;
        background-color: #3091f9;
        color: white;
        padding: 10px 20px;
        text-align: center;
        border-radius: 20px;
        text-decoration: none;
        border: none; /* Added to remove any default border */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
    }
    .btn-link:hover {
        background-color: #0056b3; /* Darker blue on hover */
        color: #FFD700; /* Gold color for text to ensure visibility */
    }
</style>

<div class="container">
    <h3>Welcome to <b>ClearSkies</b>, {{ session.first_name }}!</h3>
    <h5>Together, let's eliminate financial clouds and welcome clear skies ahead!</h5>
    <br>
    <div class="contained">
        <div class="section">
            <p>Do you have a new transaction?</p>
            <div class="debt-entry">
                <a href="{{ url_for('add_transaction_to_group') }}" class="btn-link">Add an Expense</a>
            </div>
            <div class="debt-entry">
                <a href="{{ url_for('create_group') }}" class="btn-link">Create a New Group</a>
            </div>
        </div>
        <div class="section">
            <p>Let's settle some debts!</p>
            <div class="debt-entry">
                <a href="{{ url_for('settle_group_debts') }}" class="btn-link">Settle up</a>
            </div>
            <div class="debt-entry">
                <a href="{{ url_for('dashboard_personal') }}" class="btn-link">My dashboard</a>
            </div>
        </div>
        <p>If you are unsure about how to use <i>ClearSkies</i>, please refer to the <a href="{{ url_for('about') }}">About</a> page for more information.</p>
    </div>
</div>
{% endblock %}
