{% extends 'layout.html' %}
{% block content %}
<head>
    <title>Send Money</title>
</head>
<body>
    <h1>Send Money</h1>
    <form method="POST" action="{{ url_for('send_money') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.recipient.label(class="form-label") }}
            {{ form.recipient(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.amount.label(class="form-label") }}
            {{ form.amount(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</body>
{% endblock %}
